# --- APP MODES ---
# development or production
RUN_MODE=development

# --- FRONTEND SETTINGS (Build-time) ---
VITE_API_URL=xxxxx
# development --> VITE_API_URL=http://localhost:xxxx/api
# In different domains (render/vercel) --> VITE_API_URL=https://XXXXXXXXX/api
# In same domains (backend-frontend in render) --> VITE_API_URL=/api