.corporate-basic-header {
    text-align: center;
    margin-bottom: 25pt;
    padding-left: 20pt;
    border-left: 8pt solid var(--primary);
    position: relative;
    z-index: 1;
}

.corporate-basic-header h1 {
    font-size: 36pt;
    font-weight: 900;
    color: #1a1a1a;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.corporate-basic-header h2 {
    font-size: 14pt;
    color: var(--primary);
    margin: 5pt 0 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2pt;
}

.corporate-cell {
    border: 1.5pt solid #eee;
    background: #fff;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    position: relative;
}

.corporate-cell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4pt;
    height: 100%;
    background: var(--primary);
    opacity: 0.3;
}

.corporate-song {
    font-size: 11pt;
    font-weight: 700;
    color: #333;
}

.corporate-artist {
    font-size: 9pt;
    color: #777;
    margin-top: 2pt;
}

.corporate-basic-decor .box {
    position: absolute;
    background: var(--primary);
    opacity: 0.05;
    z-index: 0;
}

.corporate-basic-decor .b1 {
    width: 400px;
    height: 100px;
    top: 10%;
    right: -150px;
    transform: rotate(45deg);
}

.corporate-basic-decor .b2 {
    width: 400px;
    height: 100px;
    bottom: 10%;
    left: -150px;
    transform: rotate(45deg);
}