.party-basic-header {
    margin-bottom: 20pt;
    text-align: center;
    position: relative;
    z-index: 1;
}

.party-basic-header h1 {
    font-size: 38pt;
    font-weight: 800;
    color: var(--primary);
    margin: 0;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.party-basic-header h2 {
    font-size: 14pt;
    color: #444;
    margin: 5pt 0 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.party-cell {
    border: 2px solid var(--primary);
    background: #fff;
    padding: 8px;
    border-radius: 4pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.party-song {
    font-size: 11pt;
    font-weight: 800;
    color: #111;
}

.party-artist {
    font-size: 8.5pt;
    color: var(--primary);
    margin-top: 3pt;
}

.party-basic-decor .confetti {
    position: absolute;
    font-size: 40pt;
    opacity: 0.15;
    z-index: 0;
}

.party-basic-decor .c1 {
    top: 5%;
    left: 5%;
    transform: rotate(-15deg);
}

.party-basic-decor .c2 {
    top: 5%;
    right: 5%;
    transform: rotate(15deg);
}

.party-basic-decor .c3 {
    bottom: 15%;
    left: 5%;
    opacity: 0.1;
}